{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
  %}
{% endcomment %}
{%- liquid
  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'

  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for value in option.values -%}
  {%- liquid
    assign option_disabled = true

    for option1_name in variants_option1_arr
      case option.position
        when 1
          if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 2
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 3
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
      endcase
    endfor
  -%}

  {%- assign variant_price = '' %}
  {%- assign variant_compareprice = '' %}
  {%- assign savings = 0 %}
  {%- assign variant_metafield = '' -%}
  {%- assign variant_mostpopular = false -%}
  

  {%- for variant in product.variants -%}
    {%- if variant.option1 == value -%}
      {%- assign variant_price = variant.price | money_without_trailing_zeros -%}
      {%- assign variant_compareprice = variant.compare_at_price | money_without_trailing_zeros -%}
      {%- assign savings = variant.compare_at_price | minus: variant.price %}
      {%- assign variant_metafield = variant.metafields.custom.free_shipping -%}
      {%- assign variant_mostpopular = variant.metafields.custom.most_popular_badge -%}     
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- if block.settings.picker_type == 'button' -%}
    <input
      type="radio"
      id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
      name="{{ option.name }}"
      value="{{ value | escape }}"
      form="product-form-main-product"
      {% if option.selected_value == value %}
        checked
      {% endif %}
      {% if option_disabled %}
        class="disabled"
      {% endif %}
    >
    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
      <div class="sn_ys">
        <span class="swatch_title">{{ value -}}</span>
        <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
         {% if variant_metafield != blank %}
           <span class="free-ship-text">{{ variant_metafield }}</span>
         {% endif %}

           {% if variant_mostpopular %}
           <span class="popular_text"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 493.16 272.27"><defs><style>.cls-1{fill:#6e57b2;}.cls-2{fill:url(#linear-gradient);}.cls-3{fill:#fff;}</style><linearGradient id="linear-gradient" x1="3.42" y1="172.17" x2="496.58" y2="172.17" gradientTransform="translate(392.78 -95.7) rotate(83.51)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#8f79d3"></stop><stop offset="0.48" stop-color="#9179d5"></stop><stop offset="1" stop-color="#9179d5"></stop></linearGradient></defs><ellipse class="cls-1" cx="250" cy="180.29" rx="129.87" ry="247.68" transform="translate(39.17 368.2) rotate(-83.51)"></ellipse><ellipse class="cls-2" cx="250" cy="172.17" rx="129.87" ry="247.68" transform="translate(47.24 361) rotate(-83.51)"></ellipse><ellipse class="cls-2" cx="250" cy="172.17" rx="129.87" ry="247.68" transform="translate(47.24 361) rotate(-83.51)"></ellipse><path class="cls-3" d="M140.45,134.31c-.1,5.23.58,8.94,2.71,14.94l-14.38-2.47A31.61,31.61,0,0,0,132,132.86l.7-37.09-19.3,48.37-5.22-.9-18-55.18-.7,37.48a37.35,37.35,0,0,0,2.6,14.93l-9.38-1.62a33,33,0,0,0,3.15-13.93l.7-36.9c.09-4.84-.38-8-2.66-12.11l16.84,2.89a8,8,0,0,0-1.16,4.66,32.22,32.22,0,0,0,1.63,10l12.39,40.12,13.61-35.65a30.61,30.61,0,0,0,2-9.56,8.91,8.91,0,0,0-1-4.84l16.09,2.77c-2.63,3.24-3.11,6.17-3.2,11.11Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M152,126.39c.28-15.1,9.1-23.59,21.57-21.45,13.42,2.31,20.24,15,20,28.8-.28,15-9,23.71-21.58,21.55C158.48,153,151.78,140.05,152,126.39Zm31.6,7.77c.24-12.68-2.84-25-11.26-26.42-6.39-1.1-10.25,5-10.5,18.31-.24,12.78,3,25,11.26,26.42C179.21,153.52,183.38,147.92,183.64,134.16Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M208.79,121c-.09,5,3.28,7.85,9.4,11.72l6.87,4.39c4.33,2.78,9.81,6.83,9.67,14.39-.18,9.49-8.91,13-17.22,11.61a24.55,24.55,0,0,1-18.32-14.72l8.51-3.68c2,8.6,6.79,14.09,13.29,15.21,4.26.73,7.82-.89,7.91-5.63.08-4.17-3.06-7.53-7.82-10.48l-9-5.53c-3.38-2.14-10.45-7-10.31-14.22.14-7.65,6.66-13,20.83-10.6a39.41,39.41,0,0,1,10.84,3.62l-2,12.39c-4-7.88-8.54-12-14.93-13.06C211.89,115.61,208.86,117.33,208.79,121Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M265.86,161.53c-.08,4.45-4.87,9.07-12.12,7.82-6.82-1.17-9.39-6.57-9.24-14.6l.64-33.71-5.76-1,.48-2.73,5.33.91a72.34,72.34,0,0,0-.47-9,55.72,55.72,0,0,0,9.45-2.45l-.24,13,12.47,2.14-.59,2.72-11.93-2-.62,32.63c0,1.75-.13,6.88,5.3,7.81C260.69,163.36,262.63,162.92,265.86,161.53Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M146,197.16l-.12,6.29a49.25,49.25,0,0,0,2.5,16.16l-18.49-3.18a37.9,37.9,0,0,0,3-15.22l.56-29.67A42.2,42.2,0,0,0,131,155.38l21.38,3.68c8.36,1.44,22.9,5.54,22.59,21.88-.27,14.27-12.69,19-27.05,16.54Zm1-35.34c-.28,4-.46,8.11-.53,12l-.38,19.81,2.07.36c8.16,1.4,12.8-3.36,13-14,.21-11.36-4.77-16.55-13-18Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M179.72,201.55c.29-15.31,9.46-23.34,22.68-21.06,12.29,2.11,21.09,13.33,20.81,28.26-.29,15.21-9.46,23.24-22.68,21C188.14,227.58,179.44,216.29,179.72,201.55Zm29.68,8.78c.23-12.3-2.33-24.8-8.53-25.87-5.06-.87-7.14,5.09-7.34,15.51-.23,12.3,2.33,24.7,8.53,25.77C207,226.59,209.2,220.94,209.4,210.33Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M272.75,213.7c-.35,18.21-10.13,26.23-22.11,24.16a13.5,13.5,0,0,1-7.4-3.62l-.11,6.29c-.1,5.07,0,8.76,2.21,14.6l-17.66-3c2.27-5.07,2.54-8.7,2.64-13.77l.61-32.2c.12-6.29.09-10.34-2.09-15.81,4.37-.84,8.74-1.88,13-3a24.64,24.64,0,0,1,2,8.07c3-4.57,8.19-6,13.56-5.1C266.43,191.79,273,199.24,272.75,213.7Zm-13.62,2.64c.25-13.52-3-18.78-8.44-19.72a8.74,8.74,0,0,0-6.76,1.57l-.5,26.47a8.79,8.79,0,0,0,7.08,9C254.64,234.41,258.84,231.27,259.13,216.34Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M307.87,247.06a24.94,24.94,0,0,1-1.93-7.5,14.14,14.14,0,0,1-14.31,5.55c-7.43-1.28-11.48-6.4-11.31-15.23l.31-16.62c.09-4.79.07-8.75-2.11-14.21a149.94,149.94,0,0,0,15.28-2.64l-.64,33.89c-.07,3.66.69,7.47,5.75,8.34a8.28,8.28,0,0,0,7-1.91l.36-19.15c.09-4.7.08-9.78-1.6-14.12a109.5,109.5,0,0,0,14.76-2.74l-.63,33.8a37.43,37.43,0,0,0,2.1,14.77Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M329,236.94l.64-33.61c.1-5.35.08-10.07-2-14.76a79.41,79.41,0,0,0,15.17-2.66l-1,53.23c-.1,5.26,0,8.77,2.11,14.12l-17.55-3C328.62,245.63,328.89,242.2,329,236.94Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M377.58,259.05a16.37,16.37,0,0,1-1.84-6.72,16.18,16.18,0,0,1-14.9,4.6c-7-1.21-11.6-6.05-11.48-12,.14-7.8,8.77-9.33,15.95-10.73,8.11-1.71,10.72-2.67,10.76-4.55l.06-3.48c.11-5.91-.91-11.93-6.9-13-3.51-.6-5.62,1.2-5.69,5.05a23.11,23.11,0,0,0,2.1,9.12l-13.72-3,.05-2.53c.15-8.17,6.49-14.33,19.6-12.08,14.05,2.42,17.61,11.23,17.42,21.65l-.27,13.9c-.13,6.94.11,10.47,2.5,16.06Zm-1.9-9,.19-9.86c0-2-.48-2.43-3.16-2.89-7.75-1.34-10.16.41-10.25,5.2-.08,4.13,2.24,7.36,6.89,8.16A12.1,12.1,0,0,0,375.68,250.06Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M428.88,220.13l-2.47,16.06c-4.33-6.78-7.19-8.87-9.46-9.26-3.83-.66-4.63,3.63-4.78,11.61l-.24,12.2c-.09,5.07.05,8.77,2.22,14.61l-17.66-3c2.27-5.07,2.54-8.7,2.64-13.77l.25-13.43a31,31,0,0,0-3.33-15.73c4.58-1,8.74-2,13-3.32,1.51,2.33,2.66,7.33,3.11,10.52,2.43-7.59,6.49-8.68,12.38-7.67A22,22,0,0,1,428.88,220.13Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M392.32,161.88c0-12.22-5.43-20.54-16.72-20.54,11.29,0,16.72-8.33,16.72-20.54,0,12.21,6.69,20.54,16.72,20.54C399,141.34,392.32,149.66,392.32,161.88Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M166.59,85.88c0-7.23-3.22-12.16-9.9-12.16,6.68,0,9.9-4.92,9.9-12.16,0,7.24,4,12.16,9.9,12.16C170.55,73.72,166.59,78.65,166.59,85.88Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M86.41,217.92c0-7-3.1-11.74-9.56-11.74,6.46,0,9.56-4.75,9.56-11.73,0,7,3.83,11.73,9.56,11.73C90.24,206.18,86.41,210.94,86.41,217.92Z" transform="translate(-3.42 -40.09)"></path><path class="cls-3" d="M279.49,288.44c0-9.66-4.3-16.25-13.23-16.25,8.93,0,13.23-6.59,13.23-16.25,0,9.66,5.3,16.25,13.23,16.25C284.79,272.19,279.49,278.78,279.49,288.44Z" transform="translate(-3.42 -40.09)"></path></svg></span>
           {% endif %}
    
         {% if savings > 0 %}
           <div class="swtch_you_save">You save {{ savings  | money_without_trailing_zeros }}</div>
         {% endif %}
      </div>
      <div class="prie_grp">
        <span class="var_price">{{ variant_price }}</span>     
        <span class="var_prce">
          <s class="var_com_price">{{ variant_compareprice }}</s> 
        </span>
      </div>
    </label>
  {%- elsif block.settings.picker_type == 'dropdown' -%}
    <option
      value="{{ value | escape }}"
      {% if option.selected_value == value %}
        selected="selected"
      {% endif %}
    >
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}
